<% include partials/header %>
<h1> <%= title %> </h1>


<form method = "POST" action = "/users/add">

<label >firstname</label> <br>
<input type="text" name = "firstname"> <br>

<label >age</label><br>
<input type="text" name = "age"> <br>

<label >email</label><br>
<input type="text" name = "email"> <br>

<br>
<input type="submit" value = "submit">

</form>

<div ng-app = "test" ng-controller = "testCtrl">

<% users.forEach(function(user){ %>

   <li ng-hide = "editMode"> {{<%= user.name  %>}} &nbsp : &nbsp {{<%= user.email %>}} &nbsp
   <input ng-show="editMode" ng-model="<%- user.name %>"> 
   <a href = "#" data-id = "<%= user._id %>" class ="deleteUser">Delete</a>
   <a href = "#" data-id = "<%= user._id %>"  ng-click="editMode=true">Update</a>
   </li>
<%})%> 
</div>

<% include partials/footer %>
